


<div class="container">



<% if (!conversation) { %>

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                Unknown exchange type! <br>
                <big><a href="/">Go to main page!</a></big>
            </div>
        </div>
    </div>

<% } else { %>

    <div class="row" ng-controller="chatCtrl">

        <div class="col-xs-12">

            <h1 class="page-header">Exchange <%- conversation.give.label  %> to <%- conversation.recieve.label  %>.</h1>

            <div id="chat_window">
                <div class="inner">
                    <div class="container">

                        <div ng-repeat="message in conversation.messages" class="message">
                            <small>{{ message.date }}</small>
                            <strong class="name">{{ message.from === 'user' ? 'Me' : 'Support' }} : </strong>
                            <span>{{ message.text }}</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="alert alert-warning top-buffer" ng-show="conversation.isClosed">
                <strong>Exchange is finished!</strong>
                Please return to <a href="/">front page</a>!

            </div>

            <div ng-hide="conversation.isClosed">

                <div id="support_status">
                    <div class="green"><strong>Support: </strong> {{ status | capitalize }}</div>
                </div>


                <div class="input-group" >
                    <input type="text" ng-disabled="!conversation" ng-model="current_message" class="form-control" placeholder="Type text and press enter to send..." ng-enter="send()">
                    <span class="input-group-btn">
                        <button  ng-class="{ disabled : !conversation }" class="btn btn-default" type="button" ng-click="send()"><i class="fa fa-paper-plane fa-fw"></i> SEND</button>
                    </span>
                </div>
            </div>

        </div>
    </div>

<% } %>
</div>
