
<div class="row" ng-controller="chatCtrl">
    <div class="col-xs-4 col-md-2">

        <div class="conversation_list_wrapper">


            <ul  class="list-group" ng-show="conversations.length">
                <li

                ng-repeat="room_data in conversations track by room_data.id"
                class="list-group-item"
                ng-class="{ active: room_data.id === conversation.id, disabled: room_data.busy && room_data.busy !== support_id  }"
                ng-click="selectRoom($event, room_data.id)"
                >

                    <a href title="Close conversation" class="btn btn-link btn-xs pull-right" ng-click="closeConversation($event, room_data.id)">
                        <i class="fa fa-fw fa-times"></i>
                    </a>

                    {{ room_data.give.label }} &raquo; {{ room_data.recieve.label }}

                    <span class="divider"></span>

                    <small>{{ room_data.id }}</small> <br>
                    <small>{{ room_data.createdAt | date:'medium' }}</small>

                    <div ng-show="room_data.busy"><small>Another agent of {{ supports[room_data.busy] }} support  do this conversation</small></div>
                </li>
            </ul>
        </div>

        <div class="alert alert-info" ng-show="!conversations.length">
            ROOM LIST IS EMPTY
        </div>


    </div>
    <div class="col-xs-8 col-md-10">

        <div class="well well-sm">
            Total conversations: {{ conversations.length }}
        </div>

        <div ng-show="conversation">


            <div id="chat_window">
                <div class="inner">
                    <div class="container">

                        <div ng-repeat="message in conversation.messages" class="message">
                            <small>{{ message.date }}</small>
                            <strong class="name">{{ message.from === 'user' ? 'User' : 'Me' }} : </strong>
                            <span>{{ message.text }}</span>
                        </div>

                    </div>
                </div>
            </div>



            <div class="row" ng-hide="conversation.isClosed">

                <div class="col-xs-12">
                    <br>
                    <div class="alert alert-success">
                        <strong>{{ conversation.give.label }} &raquo; {{ conversation.recieve.label }}</strong>
                        | Conversation ID: {{ conversation.id }}.

                    </div>
                </div>

                <hr>
                <div class="col-xs-6">
                    <div class="input-group">
                        <input type="text" ng-model="current_message" class="form-control" placeholder="Type text and press enter to send..." ng-enter="send()">
                        <span class="input-group-btn">
                            <button  class="btn btn-default" type="button" ng-click="send()"><i class="fa fa-paper-plane fa-fw"></i> SEND</button>

                            <a href ng-click="closeConversation($event, conversation.id)" class="btn btn-default">
                                <i class="fa fa-times"></i> Close
                            </a>
                            
                        </span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group">
                          <input type="number" min="0" step="0.01" ng-enter="create_code()" class="form-control" placeholder="" ng-model="data.amount">
                          <span class="input-group-btn">
                              <button ng-click="create_code($event)" class="btn btn-succes">Create code</button>
                          </span>
                    </div>

                    <ul class="list-group top-buffer">
                        <li ng-hide="created_codes.length"  class="list-group-item">
                            Codes for this conversation does not yet created.
                        </li>

                        <li ng-repeat="code in created_codes"  class="list-group-item">

                            <a href class="btn btn-xs btn-success" title="Send to chat" ng-click="sendCodeToChat(code)">
                                <i class="fa fa-paper-plane fa-fw"></i>
                            </a>

                            {{ code.code }}

                            <span class="pull-right">Amount: {{ code.amount }} </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-show="conversation.isClosed">
                <div class="col-xs-12">
                    <br>
                    <div class="alert alert-warning">

                        <strong>{{ conversation.give.label }} &raquo; {{ conversation.recieve.label }}</strong>
                        | Conversation ID: {{ conversation.id }}.

                        <a href class="btn btn-success btn-xs"  ng-class="{ disabled : !conversations.length && conversation.isClosed  }" ng-click="selectRoom($event, conversations[0].id)" >
                            Next
                        </a>
                    </div>
                </div>
            </div>



        </div>
        <div ng-hide="conversation" class="text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>NO CONVERSATION WAS SELECTED</h2>
        </div>

    </div>
</div>
