<div class="row">
     <div class="col-xs-12">

         <form action="/admin/<%- type %>/<%- deleted_code.code %>" method="POST" role="form">
                <legend>Confirm <%- type === 'block' ? ( deleted_code.blocked ? 'activate' : 'block' ) : type %> code</legend>

                <div class="form-group">
                <strong><%- deleted_code.code %> : <%- deleted_code.amount %></strong>

                <input type="hidden" name="id" value="<%-deleted_code.id %>">
                </div>
                <button type="submit" class="btn btn-primary"><%- type === 'block' ? ( deleted_code.blocked ? 'activate' : 'block' ) : type %></button>
                <a href="/admin" class="btn btn-default">Cancel</a>
         </form>


     </div>
 </div>

 <br>
 <br>
 <br>
