<div class="row">
     <div class="col-xs-12">

         <form action="/admin/news/delete/<%- deleted_news.index %>" method="POST" role="form">
                <legend>Confirm delete news</legend>

                <input type="hidden" name="id" value="<%-deleted_news.id %>">


                <button type="submit" class="btn btn-primary">Delete</button>
                <a href="/admin/news" class="btn btn-default">Cancel</a>
         </form>


     </div>
 </div>

 <br>
 <br>
 <br>
