<div class="row">
     <div class="col-xs-12">

         <form action="/admin/<%- type %>/<%- deleted_code.code %>" method="POST" role="form">
                <legend>Confirm delete news</legend>

                <input type="hidden" name="id" value="<%-deleted_code.id %>">


                <button type="submit" class="btn btn-primary"><%- type === 'block' ? ( deleted_code.blocked ? 'block' : 'activate' ) : type %></button>
                <a href="/admin" class="btn btn-default">Cancel</a>
         </form>


     </div>
 </div>

 <br>
 <br>
 <br>
