<div class="row">
    <div class="col-xs-8">
        <h1 class="page-header">Codes</h1>

        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th width="45%">Code</th>
                    <th>Created</th>
                    <th>Amount</th>
                    <th>Blocked</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <% if (codes.length) { %>
                    <% codes.forEach(function (item) { %>
                <tr>
                    <td>
                        <a target="_blank" href="/api/codes/<%- item.code %>"><%- item.code %></a>
                    </td>
                    <td>
                        <%=: item.createdAt | shortDate %>
                    </td>
                    <td>
                        <%=: item.amount %>
                    </td>

                    <td>
                        <%=: item.blocked ? 'yes' : 'no' %>
                    </td>
                    <td>

                        <div class="btn-group" role="group" aria-label="...">
                            <a type="button" href="/admin?edit=<%- item.code %>" class="btn btn-default btn-xs">Edit</a>
                            <a type="button" href="/admin/delete/<%- item.code %>" class="btn btn-default btn-xs">Delete</a>
                            <a type="button" href="/admin/block/<%- item.code %>" class="btn btn-<%=: item.blocked ? 'success' : 'default' %> btn-xs"><%=: item.blocked ? 'Activate' : 'Block' %> </a>
                        </div>
                    </td>
                </tr>
                    <% }); %>
                <% } else { %>
                   <tr>
                        <td colspan="4">
                            <h3>Codes list is empty.</h3>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <% if (items_count > items_limit) { %>
        <nav class="text-center">
            <ul class="pagination pagination-sm">

                <% if (parseInt(currentPage) > 1) { %>
                    <li><a href="/admin?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
                <% } %>

                <% if (parseInt(currentPage) > 1) { %>
                    <li><a href="/admin?page=<%-parseInt(currentPage) - 1 %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <% } %>

                <% for (var i = pager_count_before; i > 1; --i) { %>
                    <%  if (i > 1) { %>
                    <li><a href="/admin?page=<%- currentPage - i + 1 %>"><%- currentPage - i + 1%></a></li>
                    <%  } %>
                <% } %>

                <li class="active"><a href="/admin?page=<%- currentPage %>"><%- parseInt(currentPage) %></a></li>

                <% for (var i = 0; i < pager_count_after; i++) { %>
                    <%  if (i > 0) { %>
                    <li><a href="/admin?page=<%- currentPage + i %>"><%- currentPage + i %></a></li>
                    <%  } %>
                <% } %>

                <% if (parseInt(currentPage) < total_pages) { %>
                    <li><a href="/admin?page=<%-parseInt(currentPage) + 1 %>" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                <% } %>

                <% if (parseInt(currentPage) < total_pages) { %>
                    <li><a href="/admin?page=<%-total_pages %>" aria-label="Previous"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
                <% } %>

            </ul>
        </nav>
        <% } %>


    </div>

    <div class="col-xs-4">

    <%  if (req.param('edit', false)) { %>

        <h1 class="page-header">Edit code</h1>


        <% if (!edit_code) {%>
            <div class="alert alert-danger">
                <strong>Error!</strong> Code <%- req.param('edit') %> not found!
                <br>
                <a href="/admin">Go to create form</a>
            </div>
        <% } else { %>

        <div class="well well-sm">
            <form action="/admin/edit/<%- edit_code.code %>" method="POST">

                <% var message = req.flash('error'); if (message.length) { %>
                <div class="alert alert-danger">
                    <strong>Error!</strong> <%- message %>
                </div>
                <% } %>

                <input type="hidden" value="<%- edit_code.code %>" name="index">

                <div class="form-group">
                    <strong>Edit code: <%- edit_code.code %></strong>
                </div>

                <div class="form-group">
                    <label for="newsAmountInput">Amount</label>
                    <input type="number" class="form-control" id="newsAmountInput" placeholder="Amount" name="amount" value="<%- edit_code.amount %>" step="0.01" min="0">
                </div>

                <button type="submit" class="btn btn-default">Save</button>
                <a href="/admin/delete/<%- edit_code.code %>" class="btn btn-danger pull-right">Delete</a>
            </form>
        </div>

        <% } %>

    <% } else { %>
        <h1 class="page-header">Add code</h1>
        <div class="well well-sm">
            <form action="/admin/create" method="POST">

                <% var message = req.flash('error'); if (message.length) { %>
                <div class="alert alert-danger">
                    <strong>Error!</strong> <%- message %>
                </div>
                <% } %>

                <div class="form-group">
                    <label for="newsAmountInput">Amount</label>
                    <input type="number" class="form-control" id="newsAmountInput" placeholder="Amount" name="amount" value="0" step="0.01" min="0">
                </div>

                <button type="submit" class="btn btn-default">Create</button>
            </form>
        </div>
    <% } %>

    </div>

</div>

