
<!DOCTYPE html>
<html lang="en" ng-app="dashboardAPP">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%- (function(){ return typeof page_title !== 'undefined' ? page_title : 'ECode admin' ;   })() %></title>


    <!--SCRIPTS-->
    <script src="/js/dependencies/0. sails.io.js"></script>
    <script src="/js/dependencies/1. jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/2. angular.js"></script>
    <script src="/js/dependencies/3. angular-animate.js"></script>
    <script src="/js/ion.sound.min.js"></script>
    <!--SCRIPTS END-->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SoundJS/0.6.0/soundjs.min.js"></script>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main_style.css">
    <!--STYLES END-->


  </head>

  <body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/">ECODE</a></li>
                <li><a href="/admin/codes">Codes</a></li>
                <li><a href="/admin/news">News</a></li>
                <li><a href="/admin/chat">Chat support</a></li>
                <li><a href="/admin/signout">LogOut</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <%- body %>
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
          </div>
        </div>
    </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


        <!-- Menu Toggle Script -->
    <script>

        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });


        ion.sound({
            sounds: [
                {
                    name: "water_droplet"
                }
            ],
            volume: 0.5,
            path: "/sounds/",
            preload: true
        });


        io.socket.on('connect', function () {

            io.socket.get('/admin/notification');

            io.socket.on('message_notification', function (data) {

                if (data.from === 'user') {
                    ion.sound.play("water_droplet");

                    $.bootstrapGrowl("New message in chat!", {
                        type : 'success'
                    });
                }
            });

            io.socket.on('conversation_notification', function (data) {
                ion.sound.play("water_droplet");
                $.bootstrapGrowl("New conversation was opened!", {
                    type : 'success'
                });
            });
        });



        var app = angular.module('dashboardAPP', []);


        app.directive('ngEnter', function () {
            return function (scope, element, attrs) {
                element.bind("keydown keypress", function (event) {
                    if(event.which === 13) {
                        scope.$apply(function (){
                            scope.$eval(attrs.ngEnter);
                        });

                        event.preventDefault();
                    }
                });
            };
        });

        function chatScrollDown() {
            $("#chat_window .inner .container").animate({ scrollTop: $("#chat_window .inner .container")[0].scrollHeight}, 0);
        }


        <% if (req.path.indexOf('admin/chat') === 1) { %>

        app.controller('chatCtrl', function ($scope) {

            $scope.conversation = <%- JSON.stringify(conversation) %>;
            $scope.conversations = <%- JSON.stringify(conversations) %>;

            $scope.selectRoom = function ($event, conversation_id) {

                io.socket.get('/admin/chat/' + conversation_id, function (data) {

                    if ('conversation' in data) {
                        $scope.safeApply(function  () {
                            $scope.conversation = data.conversation;
                            $scope.conversations = data.conversations;
                        });

                        window
                            .history
                            .pushState(
                                data,
                                "Exchange " + data.conversation.give.label + " to " + data.conversation.recieve.label ,
                                '/admin/chat/' + data.conversation.id
                            );
                    }

                    if($event) {
                        $event.preventDefault();
                    }

                    return false;

                });

            }

            if ($scope.conversation) {
                $scope.selectRoom(null, $scope.conversation.id);
            }

            $scope.safeApply = function(fn) {
                var phase = this.$root.$$phase;
                if(phase == '$apply' || phase == '$digest') {
                    if(fn && (typeof(fn) === 'function')) {

                        fn();
                    }
                }
                else  this.$apply(fn);

            };

            $scope.update_rooms_info = function () {

                io.socket.get('/admin/conversation/rooms', function (data) {
                    $scope.safeApply(function () {
                        $scope.support_id = data.support_id;
                        $scope.conversations = [];
                        $scope.conversations = data.conversations;
                        $scope.supports = data.supports;
                    });
                });

                io.socket.on('sup_' + $scope.support_id, function (data) {
                    console.log('sup_' + $scope.support_id, data );
                });


                chatScrollDown();
            }

            function reconnect() {

                $scope.update_rooms_info();

                io.socket.on('message', function (message) {

                    if ($scope.conversation && message.conversation == $scope.conversation.id) {
                        message.date = getCurrentTime();
                        $scope.safeApply(function () {
                            $scope.conversation.messages.push(message);
                        });


                        chatScrollDown();
                    }
                });

                io.socket.on('room_created', function (data) {

                    $scope.safeApply(function () {
                        $scope.conversations.push(data);
                    });

                });

                io.socket.on('room_closed', function(deletedConv) {

                    $scope.conversations.forEach(function (conversation, idx) {
                        if (conversation.id == deletedConv.id) {
                            $scope.safeApply(function(){
                                $scope.conversations.splice(idx, 1);
                            });

                        }

                        if ($scope.conversation.id === deletedConv.id) {
                            $scope.safeApply(function(){
                                $scope.conversation = deletedConv;
                            });
                        }
                    });
                });

                /*

                io.socket.on('leave_chats', function (data) {

                    $scope.safeApply(function () {
                        data.forEach(function (conv_id) {
                            delete $scope.rooms[conv_id];
                        });
                    });

                });
                */
            }

            io.socket.on('connect', function () {
                reconnect();
            });


            var me = this;
            setInterval(
                $scope.update_rooms_info.bind(me),
                300
            );


            function getCurrentTime () {
                var local = new Date();
                var localdatetime = local.getHours() + ":" + local.getMinutes() + ":" + local.getSeconds();
                return localdatetime;
            }


            $scope.closeConversation = function ($event, conversation_id) {
                io.socket.get('/admin/chat/' + conversation_id + '/close');
                $event.preventDefault();
                return false;
            }

            $scope.send = function (message) {
                var t = getCurrentTime();

                var messageObject = { name : 'Support', text : message ? message : $scope.current_message, date : t };

                //$scope.messages.push(messageObject);

                //chatScrollDown();


                io.socket.post('/admin/send_message', {
                        text : message ? message : $scope.current_message,
                        conversation : $scope.conversation.id ,
                        date : t
                    });

                if (!message) $scope.current_message = '';
            }





            $scope.sendCodeToChat = function (code) {
                $scope.send('Code ' + code.code + ' with amount of ' + code.amount + ' was created!');
            }

            $scope.data = {
                amount : 0
            };

            $scope.created_codes = [];

            $scope.create_code = function ($event) {

                io.socket.post('/admin/create', { amount : $scope.data.amount }, function (code) {

                    $scope.safeApply(function   () {
                        $scope.created_codes.unshift(code);
                    })
                })


                $scope.data.amount = 0;
                if ($event) $event.preventDefault();

                return false;
            }



        });

        <% } %>


        app.filter('capitalize', function() {
            return function(input) {
              return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
            }
        });

    </script>
  </body>
</html>
