<style>
    body {
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>


<div class="container">

    <form class="form-signin" action="/admin/signin<% if (req.param('test')) { %>?test=true<% } %>" method="POST">

        <h2 class="form-signin-heading text-center">ADMIN PANEL</h2>

        <% var message = req.flash('error'); if (message.length) { %>

            <div class="alert alert-danger">
                <%- message %>
            </div>

        <% } %>

        <label for="inputLogin" class="sr-only">Email address</label>
        <input type="text" id="inputLogin" name="login" class="form-control" placeholder="Login" required autofocus value="<%- req.session.login %>" >

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required value="<%- req.session.password %>" >


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>

</div> <!-- /container -->
