<div class="row">
    <div class="col-xs-7">
        <h1 class="page-header">News list</h1>

        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th width="75%">Title</th>
                    <th>Date</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <% if (news.length) { %>
                    <% news.forEach(function (item) { %>
                <tr>
                    <td>
                        <a target="_blank" href="/news/<%- item.index %>"><%- item.title %></a>
                    </td>
                    <td>
                        <%=: item.createdAt | shortDate %>
                    </td>
                    <td>

                        <div class="btn-group" role="group" aria-label="...">
                            <a type="button" href="/admin/news?edit=<%- item.index %>" class="btn btn-default btn-xs">Edit</a>
                            <a type="button" href="/admin/news/delete/<%- item.index %>" class="btn btn-default btn-xs">Delete</a>
                        </div>
                    </td>
                </tr>
                    <% }); %>
                <% } else { %>
                   <tr>
                        <td colspan="3">
                            <h3>News list is empty.</h3>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <% if (total_news > news_limit) { %>
        <nav class="text-center">
            <ul class="pagination pagination-sm">

                <% if (parseInt(currentPage) > 1) { %>
                    <li><a href="/admin/news?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
                <% } %>

                <% if (parseInt(currentPage) > 1) { %>
                    <li><a href="/admin/news?page=<%-parseInt(currentPage) - 1 %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <% } %>

                <% for (var i = pager_count_before; i > 1; --i) { %>
                    <%  if (i > 1) { %>
                    <li><a href="/admin/news?page=<%- currentPage - i + 1 %>"><%- currentPage - i + 1%></a></li>
                    <%  } %>
                <% } %>

                <li class="active"><a href="/admin/news?page=<%- currentPage %>"><%- parseInt(currentPage) %></a></li>

                <% for (var i = 0; i < pager_count_after; i++) { %>
                    <%  if (i > 0) { %>
                    <li><a href="/admin/news?page=<%- currentPage + i %>"><%- currentPage + i %></a></li>
                    <%  } %>
                <% } %>

                <% if (parseInt(currentPage) < total_pages) { %>
                    <li><a href="/admin/news?page=<%-parseInt(currentPage) + 1 %>" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                <% } %>

                <% if (parseInt(currentPage) < total_pages) { %>
                    <li><a href="/admin/news?page=<%-total_pages %>" aria-label="Previous"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
                <% } %>

            </ul>
        </nav>
        <% } %>


    </div>

    <div class="col-xs-5">

    <%  if (req.param('edit', false)) { %>

        <h1 class="page-header">Edit news</h1>


        <% if (!edit_news) {%>
            <div class="alert alert-danger">
                <strong>Error!</strong> News with id <%- req.param('edit') %> not found!
                <br>
                <a href="/admin/news">Go to create form</a>
            </div>
        <% } else { %>

        <div class="well well-sm">
            <form action="/admin/news/edit" method="POST">

                <% var message = req.flash('error'); if (message.length) { %>
                <div class="alert alert-danger">
                    <strong>Error!</strong> <%- message %>
                </div>
                <% } %>

                <input type="hidden" value="<%- edit_news.index %>" name="index">

                <div class="form-group">
                    <label for="newsTitleInput">News title</label>
                    <input type="text" class="form-control" id="newsTitleInput" placeholder="Title" name="title" value="<%- edit_news.title %>">
                </div>
                <div class="form-group">
                    <label for="inputContent">Password</label>
                    <textarea name="content" id="inputContent" class="form-control" placeholder="News content" rows="3" required="required"><%- edit_news.content %></textarea>
                </div>

                <button type="submit" class="btn btn-default">Save</button>
                <a href="/admin/news/delete/<%- edit_news.index %>" class="btn btn-danger pull-right">Delete</a>
            </form>
        </div>

        <% } %>

    <% } else { %>
        <h1 class="page-header">Add news</h1>
        <div class="well well-sm">
            <form action="/admin/news/create" method="POST">

                <% var message = req.flash('error'); if (message.length) { %>
                <div class="alert alert-danger">
                    <strong>Error!</strong> <%- message %>
                </div>
                <% } %>

                <div class="form-group">
                    <label for="newsTitleInput">News title</label>
                    <input type="text" class="form-control" id="newsTitleInput" placeholder="Title" name="title">
                </div>
                <div class="form-group">
                    <label for="inputContent">Password</label>
                    <textarea name="content" id="inputContent" class="form-control" placeholder="News content" rows="3" required="required"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Create</button>
            </form>
        </div>
    <% } %>

    </div>

</div>

