<div class="jumbotron">

    <div class="container">


        <div class="row">


            <div class="col-xs-6">
                <h2>
                    E-CURRENCY EXCHANGER
                </h2>
                <p>E-Code - service of instant and easy e-currency exchange. Requests for exchange are executed 24 hours a day.</p>
            </div>

            <div class="col-xs-5 col-xs-offset-1" ng-controller="calculatorCtrl">

                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label>YOU GIVE</label>

                        <select name="give" ng-model="data.give" ng-change="change('give')" id="input" class="form-control" required="required">
                            <option value="cc">Cash Code</option>
                            <option value="pm">Perfect Money</option>
                            <option value="we">WesternUnion</option>
                            <option value="mg">Moneygram</option>
                            <option value="btc">BTC</option>
                            <option value="ltc">LTC</option>
                        </select>

                    </div>
                    <div class="col-xs-12 form-group">
                        <label>RECIEVE</label>
                        <select name="get" ng-model="data.get" ng-change="change('get')" id="input" class="form-control" required="required">
                            <option value="cc">Cash Code</option>
                            <option value="pm">Perfect Money</option>
                            <option value="we">WesternUnion</option>
                            <option value="mg">Moneygram</option>
                            <option value="btc">BTC</option>
                            <option value="ltc">LTC</option>
                        </select>


                    </div>

                    <div class="col-xs-12 form-group text-center">
                        <button class="btn btn-success btn-lg" ng-click="gotochat()">
                            exchange now
                            <i class="fa fa-fw fa-arrow-right"></i>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Contacts</div>
                <div class="panel-body">
                    <div>Jabber: </div>
                    <div>ICQ: </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-default" id="latest_news_block">
                <div class="panel-heading">
                    <strong>Our latest news: </strong>
                </div>
                    <% if (!news.length) { %>
                    <div class="panel-body">
                        News list is empty.
                    </div>
                    <% } else { %>
                    <ul class="list-group">
                        <% news.forEach(function (item) { %>
                            <a href="/news/<%= item.index %>" class="list-group-item">
                                <small><%=: item.createdAt | shortDate %></small>
                                <big><strong><%= item.title %></strong></big>

                                <i class="fa fa-fw fa-angle-right pull-right fa-2x"></i>
                            </a>
                        <% }); %>
                    </ul>
                    <% } %>
            </div>
        </div>

        <div class="col-xs-12">

            <br><br>

            <p class="well">
                With the service e-code.me - you can buy BTC, sell and exchange Bitcoin. Also on the site is available exchange LTC, Moneygram, Perfect Money, Western Union. To request the transfer does not need to be registered. Guarantee the reliability of our work - this is a happy feedback from our customers on Internet forums and website monitoring electronic exchange points.
            </p>
        </div>

    </div>






</div>

