<!DOCTYPE html>
<html>
  <head>
    <title>ECode. Instant exchange of your e-currency.</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha256-obxCG8hWR3FEKvV19p/G6KgEYm1v/u1FnRTS7Bc4Ii8= sha512-8Xs5FuWgtHH1JXye8aQcxVEtLqozJQAu8nhPymuRqeEslT6nJ2OgEYeS3cKiXasOVxYPN80DDoOTKWgOafU1LQ==" crossorigin="anonymous">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main_style.css">
    <!--STYLES END-->


    <!--SCRIPTS-->
    <script src="/js/dependencies/0. sails.io.js"></script>
    <script src="/js/dependencies/1. jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/2. angular.js"></script>
    <script src="/js/dependencies/3. angular-animate.js"></script>
    <script src="/js/ion.sound.min.js"></script>
    <!--SCRIPTS END-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>


  </head>

  <body>
    <nav class="navbar navbar-static-top  navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ECode</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%- body %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <hr>
              2015 © ECode. All rights reserved.
        </div>
      </div>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <script>
        var app = angular.module('ecodeApp', []);
        app.filter('capitalize', function() {
            return function(input) {
              return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
            }
        });


        function chatScrollDown() {
            $("#chat_window .inner .container").animate({ scrollTop: $("#chat_window .inner .container")[0].scrollHeight}, 0);
        }

        app.directive('ngEnter', function () {
            return function (scope, element, attrs) {
                element.bind("keydown keypress", function (event) {
                    if(event.which === 13) {
                        scope.$apply(function (){
                            scope.$eval(attrs.ngEnter);
                        });

                        event.preventDefault();
                    }
                });
            };
        });



        <% if (req.path.indexOf('request') === 1) { %>
        app.controller("chatCtrl", function ($scope) {

            $scope.conversation = <%- JSON.stringify(conversation) %>;

            $scope.data = {
                give : "<%- req.param('give') %>",
                recieve : "<%- req.param('recieve') %>"
            };

            $scope.safeApply = function(fn) {
                var phase = this.$root.$$phase;
                if(phase == '$apply' || phase == '$digest') {
                    if(fn && (typeof(fn) === 'function')) {

                        fn();
                    }
                }
                else  this.$apply(fn);

            };

            function reconnect() {

                io.socket.get('/start_conversation/<%- conversation.id %>', function (data) {

                    if ('conversation' in data) {
                        $scope.safeApply(function () {
                            $scope.status = data.support_online ? "online" : "offline";
                            $scope.conversation = data.conversation;
                        });
                    }

                });


                io.socket.on('room_closed', function(closedConv) {

                    if (!$scope.conversation || $scope.conversation.id !== closedConv.id)
                        return;

                    $scope.safeApply(function () {
                        $scope.conversation = closedConv;
                    });
                });

                io.socket.on('message', function (data) {

                    if ($scope.conversation && data.conversation == $scope.conversation.id ) {
                        //var messageObject = { name : 'Support', text : data.data , date : getCurrentTime() };

                        data.date = getCurrentTime();
                        $scope.safeApply(function () {
                            $scope.conversation.messages.push(data);
                            chatScrollDown();
                        });


                        //chatScrollDown();
                    }
                });
            }

            io.socket.on('connect', function () {
                reconnect();
            });


            $scope.messages = [];

            $scope.current_message = '';


            function getCurrentTime () {
                var local = new Date();
                var localdatetime = local.getHours() + ":" + local.getMinutes() + ":" + local.getSeconds();
                return localdatetime;
            }

            $scope.send = function () {


                var t = getCurrentTime();
                //var messageObject = { name : 'You', text : $scope.current_message, date : t };


                io.socket.post('/send_message', {
                    from : 'user',
                    text : $scope.current_message ,
                    date : t ,
                    conversation : $scope.conversation.id
                }/*, function (data) {

                    $scope.safeApply(function () {
                        $scope.conversation.messages.push(data);
                        chatScrollDown();
                    });
                }*/);

                $scope.current_message = '';
            }


            $scope.status = "<%- typeof support_online !== 'unedfined' && support_online ? 'online' : 'offline' %>";

            io.socket.on('support_online', function (is_online) {
                console.log("Support online", is_online);

                $scope.safeApply(function () {
                    $scope.status = is_online ? "online" : "offline";
                });
            });

        });

        <% } %>

        app.controller("calculatorCtrl", function ($scope) {


            $scope.data = { give : 'pm', get : 'cc' };

            $scope.gotochat = function () {
                window.location.href = "/request/" + $scope.data.give + "/" + $scope.data.get;
            }


            $scope.change = function (type) {

              if (type === 'give') {
                var newValue = $scope.data.give;
                if (newValue === 'cc' && $scope.data.get === 'cc') {
                  $scope.data.get = 'pm';
                } else {
                  $scope.data.get = 'cc';
                }
              } else {
                var newValue = $scope.data.get;
                if (newValue === 'cc' && $scope.data.give === 'cc') {
                  $scope.data.give = 'pm';
                } else {
                  $scope.data.give = 'cc';
                }
              }
            }

        });


      angular.element(document).ready(function() {
        angular.bootstrap(document, ['ecodeApp']);
      });
    </script>



  </body>
</html>
