<div class="container">
    <div class="row">

        <div class="panel panel-default">
            
          <div class="panel-heading">Обмен BTC на LTC</div>

            <div class="panel-body">

                    <br>
                    <br>



                    <form action="/chat"  class="form-horizontal">  
                        <div class="row">


                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Отдадите</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="inputEmail3" placeholder="Отдадите" value="0">
                                        <span class="input-group-addon" id="basic-addon1">BTC</span>
                                    </div>
                                    <p class="help-block">
                                         Курс 1.11 : 1 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Получите</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="inputEmail3" placeholder="Получите" value="0">
                                        <span class="input-group-addon" id="basic-addon1">LTC</span>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-xs-offset-2">
                                    <p class="help-block">
                                        Сумма к получению указана за вычетом всех комиссий платежных систем  
                                    </p>
                                </div>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Ваш Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Кошелек</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Кошелек">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            
                            <div class="form-group text-center">
                                <button class="btn btn-primary btn-big">ПРОДОЛЖИТЬ</button>
                            </div>
                        </div>




                    </form>   




            </div>
        </div>






    </div>
</div>

