.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}


#chat_window {
    min-height: 300px;
    -webkit-box-shadow: 0 0  3px silver;
            box-shadow: 0 0  3px silver;
    height: 300px;
    overflow: auto;
    width: 100%;
}

.conversation_list_wrapper .list-group-item {
    cursor: pointer;
}


#support_status {
    margin: 10px 0;
    font-size: 10px;
}

#chat_window .inner .container {
    max-height: 300px;
    overflow: auto;
    width: 100%;
}


.conversation_list_wrapper {
    max-height: 500px;
    overflow-y: auto;
}

.top-buffer { margin-top:20px; }


#chat_window .message {
    padding: 10px 5px;
    margin: 0;
    border-bottom: dashed 1px silver;
}


#chat_window .message:last-child {
    border-bottom: none;
}


#latest_news_block .list-group .fa-angle-right{
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
        color: #73a839;
}

#latest_news_block .list-group  .list-group-item:hover .fa-angle-right{
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



    #chat_window {
        display: table;
    }

    #chat_window .inner {
        display: table-cell;
        vertical-align: bottom;
    }
