<div class="container">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="page-header">
                <%- current_news.title %>
                <small><%=: current_news.createdAt | shortDate %></small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/news">News</a></li>
                <li class="active"><%- current_news.title %></li>
            </ol>

            <article>
                <%- current_news.content %>
            </article>
        </div>
    </div>
</div>
