<div class="container">
     <div class="row">
         <div class="col-xs-12">

            <h1 class="page-header">Our news</h1>


            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">News</li>
            </ol>

            <% if (news.length) { %>
            <ul class="list-group">
                <% news.forEach(function (item) { %>
                <a class="list-group-item" href="/news/<%- item.index %>">
                    <h4 class="list-group-item-heading">
                         <%- item.title %>
                    </h4>
                    <span class="list-group-item-text">
                        <small><%=: item.createdAt | shortDate %></small>
                    </span>
                </a>
                <% }) %>
            </ul>
            <% } else { %>

                News list is empty.

            <% } %>


        <% if (total_news > news_limit) { %>

        <nav class="text-center">
            <ul class="pagination pagination">
                <% if (parseInt(currentPage) > 1) { %>
                    <li><a href="/news?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;&laquo;</span></a></li>
                <% } %>

                <% if (parseInt(currentPage) > 1) { %>
                    <li><a href="/news?page=<%-parseInt(currentPage) - 1 %>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <% } %>

                <% for (var i = pager_count_before; i > 1; --i) { %>
                    <%  if (i > 1) { %>
                    <li><a href="/news?page=<%- currentPage - i + 1 %>"><%- currentPage - i + 1%></a></li>
                    <%  } %>
                <% } %>

                <li class="active"><a href="/news?page=<%- currentPage %>"><%- parseInt(currentPage) %></a></li>

                <% for (var i = 0; i < pager_count_after; i++) { %>
                    <%  if (i > 0) { %>
                    <li><a href="/news?page=<%- currentPage + i %>"><%- currentPage + i %></a></li>
                    <%  } %>
                <% } %>

                <% if (parseInt(currentPage) < total_pages) { %>
                    <li><a href="/news?page=<%-parseInt(currentPage) + 1 %>" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                <% } %>

                <% if (parseInt(currentPage) < total_pages) { %>
                    <li><a href="/news?page=<%-total_pages %>" aria-label="Previous"><span aria-hidden="true">&raquo;&raquo;</span></a></li>
                <% } %>
            </ul>
        </nav>
        <% } %>

         </div>
     </div>
</div>
